@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-BoldItalic.eot');
    src: url('../fonts/RobotoMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoMono-BoldItalic.woff2') format('woff2'),
        url('../fonts/RobotoMono-BoldItalic.woff') format('woff'),
        url('../fonts/RobotoMono-BoldItalic.ttf') format('truetype'),
        url('../fonts/RobotoMono-BoldItalic.svg#RobotoMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

