.logo{
    display: flex;
    margin-top: 20px;
    margin-left: 170px;
}
a:hover {
    color: red;
}
.li-active{
    color: red;
    margin-right: 50px;
}
.container{
    display: flex;
    background-color:#21618C   ;
    max-width: 100%;
    width: 100%;
    height: 150px;
    position: fixed;
    z-index: 99999999999;
}
.ul{
    display: flex;
    margin-top: 80px;
    margin-left: 150px;
}
.li{
    margin-right: 50px;
    color: #CCD1D1;
}
.li-small{
    margin-right: 20px;
    color:#CCD1D1;
}
.icon{
    margin-right: 35px;
    margin-left: 150px;
}
.section{
    background-image: url(../img/mestia-in-winter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 1000px;
    padding-top: 120px;
}
.p-1{
    color:#CCD1D1;
    font-size: 40px;
   margin-left: 900px;
   padding-top: 300px;
}
.p-2{
    color:#CCD1D1;
    font-size: 30px;
    margin-left: 900px;
    margin-top: 20px;
}
.main-div{
    position: relative;
    width: 400px;
   
}
.img{
    display: block;
    width: 100%;
    
    
}
.img-90{
    display: block;
    width: 100%;
    margin-top: 80px;

    
}
.p-1{
    font-family: 'Roboto Mono';
}
.p-2{
    font-family: 'Roboto Mono';
}
.burger-icon{
    color: white;
    font-size: 20px;
    display: none;
}
.surati{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}
.surati:hover{
    opacity: 1;
}
.budapeshti{
    font-size: 30px;

}
.para{
    font-size: 25px;
    margin-top: 20px;
}
.div-div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-right: 40px;
    padding-left: 40px;

}
.footer{
    background-color:#21618C ;
    width: 100%;
    height: 300px;
    margin-top: 200px;
}
.social{
    height: 50px;
    display: flex;
    margin-left: 20px;
}
.social1{
    height: 50px;
    width: 50px;
    background-color: #f5f6fa ;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    line-height: 50px;
}
.social-div{
    justify-content: column;
}
.tel1{
    margin-top: 50px;
    color: white;
    margin-left: 30px;
}
.tel2{
    color: white;
}
.mail{
    margin-top: 50px;
    color: white;
    margin-left: 30px;
}
.mailt{
    color: white;
}
.a i{
    transition: all 0.3s linear;
}
a:hover i{
    transform: scale(1.4);
}
.fa-facebook.f{
    color:blue;
}
.fa-twitter{
    color: #0097e6;
}
.fa-instagram{
    color: #e84393;
}
.fot{
    display: flex;
    justify-content: space-between;
}
.map{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

/* aviabiletebi */
.section-avia{
    padding-top: 200px;
   
}
.button{
    background-color: #21618C;
    width: 75px;
    height: 40px;
    border-radius: 20px;
}
.forms{
  margin-left: 400px;

}
.input{

width: 180px;
}
.sct5{
    max-width: 100%;
    width: 100%;
    height: auto;
    background-color: #21618C;
    margin-top: 50px;

}
.sct77{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services{
    font-size: 25px;
    color: #CEDDDF;
    padding-top: 40px;
    margin-left: 690px;
}
.h22{
    font-size: 20px;
    color: #CEDDDF;
    padding-top: 130px;
    margin-left: 40px;
}
.p22{
    color:#CEDDDF ;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.pirveli-div{
    height: 380px;
    width: 300px;
    /* margin-right: 70px; */
    margin-left: 30px;
    
}
.img333{
 
    margin-left: 70px;
    margin-top: 30px;
}
.pp44{
    color: #21618C;
    font-size: 22px;
    margin-top: 150px;
    margin-left: 250px;
}
.iinput{
    background-color: #21618C;
    height: 35px;
    width: 200px;
    font-size: 20px;
    color: white;
    margin-left: 40px;
}
/* shida turebi */
.georgia111{
    padding-top: 200px;
    max-width: 100%;
    width: 100%;
    height: 1000px;
    background-image: url(../img/tbilisi.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-georgia{
    position: absolute;
    width: 100%;
    

}
.main-georgia span{
    text-transform: uppercase;
    display: block;
}
.welcome1{
    font-size: 60px;
    font-weight: 700px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 2s 1;
    padding-top: 270px;
    padding-left: 750px;
    color: white;
    opacity: 0;
    transition: 1.5s;
    
}
.welcome1:hover{
    opacity: 1;
}
.welcome2{
    font-size: 35px;
    margin-left: 850px;
    opacity: 0;
    transition: 1.5s;
    color: blue;

}
.welcome2:hover{
    opacity: 1;
}
@keyframes text{
    0%{
        color: white;
        margin-bottom: -40px;
    }
}
.welcome3{
    display: none;
}